In [1]:
print(1+1)

2

In [2]:
## Basic Syntax Rules In Python

In [3]:
# indentation
age=32
if age>20:
    print("Eligible")

Eligible

In [4]:
a=100

In [6]:
isStudent = False;

In [7]:
print("IS student",isStudent);

IS student False

In [8]:
height =5.11

In [11]:
print(type(height))
print(int(height))

<class 'float'>
5

In [12]:
##  Dynamic Typing
## Python allows the type of variable to change as the program exceuts
var =10
print(var,type(var))
var=3.14
print(var,type(var))

10 <class 'int'>
3.14 <class 'float'>

In [13]:
age = input("What is the age")
print(age,type(age))

Gokul <class 'str'>

In [16]:
num1 = float(input("ENter the number"))
num2 =  float(input("ENter the number"))
sum =num1+num2
sub = num1-num2
print("SUm is ",sum)
print("subtraction",sub)

SUm is  5.0
subtraction -1.0

In [1]:
a=10
b=10
a== b
type(a==b)

bool

In [2]:
str1= "gokul"
str2 = "Gokul"
str1 == str2

False

In [3]:
# greater than 
a=45
num2=55
num2>a

True

In [ ]:
Control FLow

## if statement

In [10]:
age=1
if age>20:
    print("Allows")
elif age==20:
    print("Welcome to 20s")   
else :
    print("Not declared")

Not declared

In [13]:
## leap year
year = int(input("ENter the year"))
if year%4==0:
    if year%100==0:
        if year %400 ==0:
            print("Yes it's a leap year")
        else:
            print("Year not leap")   
    else:
        print("False")  
else:
    print("False")

False