In [ ]:
print(1+1)

In [ ]:
## Basic Syntax Rules In Python

In [ ]:
# indentation
age=32
if age>20:
    print("Eligible")

In [ ]:
a=100

In [ ]:
isStudent = False;

In [ ]:
print("IS student",isStudent);

In [ ]:
height =5.11

In [ ]:
print(type(height))
print(int(height))

In [ ]:
##  Dynamic Typing
## Python allows the type of variable to change as the program exceuts
var =10
print(var,type(var))
var=3.14
print(var,type(var))

In [ ]:
age = input("What is the age")
print(age,type(age))

In [ ]:
num1 = float(input("ENter the number"))
num2 =  float(input("ENter the number"))
sum =num1+num2
sub = num1-num2
print("SUm is ",sum)
print("subtraction",sub)

In [ ]:
a=10
b=10
a== b
type(a==b)

In [ ]:
str1= "gokul"
str2 = "Gokul"
str1 == str2

In [ ]:
# greater than 
a=45
num2=55
num2>a

In [ ]:
Control FLow

## if statement

In [ ]:
age=1
if age>20:
    print("Allows")
elif age==20:
    print("Welcome to 20s")   
else :
    print("Not declared")

In [ ]:
## leap year
year = int(input("ENter the year"))
if year%4==0:
    if year%100==0:
        if year %400 ==0:
            print("Yes it's a leap year")
        else:
            print("Year not leap")   
    else:
        print("False")  
else:
    print("False")

In [ ]:
### for looop## range is 5 means 0 to 4
for i in range(1,6):
    print(i)

In [ ]:
## 2 is a step size 
for i in range(1,10,2):
    print(i)
for j in range(10,0,-3):
    print("reversed"+str(j))

In [ ]:
## string 
str = "Gokul Das is Kolla Mass"
newstr=""

j=0
for i in range(0,len(str)):
    if(i%2==0):
        newstr=newstr+str[i]
        
print(newstr)

In [2]:
age = 0
while age<40:
    print("Improve your life")
    age+=1

Improve your life
Improve your life
Improve your life
Improve your life
Improve your life
Improve your life
Improve your life
Improve your life
Improve your life
Improve your life
Improve your life
Improve your life
Improve your life
Improve your life
Improve your life
Improve your life
Improve your life
Improve your life
Improve your life
Improve your life
Improve your life
Improve your life
Improve your life
Improve your life
Improve your life
Improve your life
Improve your life
Improve your life
Improve your life
Improve your life
Improve your life
Improve your life
Improve your life
Improve your life
Improve your life
Improve your life
Improve your life
Improve your life
Improve your life
Improve your life

In [6]:
for i in range(0,10,2):
    
    if(i==8):
        continue
    print(i)

0
2
4
6

In [9]:
##paass  is null operation do nothing
for i in range(0,10):
    if(i==2):
        print("pass")
        pass
    print(i)

0
1
pass
2
3
4
5
6
7
8
9

In [11]:
## nested loops 
for i in range(3):
    for j in range(3):
        print(f"i is {i} j is {j}")

i is 0 j is 0
i is 0 j is 1
i is 0 j is 2
i is 1 j is 0
i is 1 j is 1
i is 1 j is 2
i is 2 j is 0
i is 2 j is 1
i is 2 j is 2

In [12]:
## calculate first  natural number

In [16]:
N= input("Enter the upper limit")
i=0
sum=0
while(i<=int(N)):
    sum=sum+i
    i+=1
print(sum)

55

In [28]:
## display prime number between one and 100
i=0

for num in range(1,101):
    notprime=False
    if num>1:
        for i in range(2,num):
            if(num%i==0):
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [29]:
#LIST
##List are ordred and muttable colection

In [32]:
lst = []
type(lst)

list

In [35]:
name = ["Gokul ", "gobi","Akshay","Nikhil",1256]
print(name)

['Gokul ', 'gobi', 'Akshay', 'Nikhil', 1256]

In [39]:
##aAccess list
name[2]
name.extend("Holly")

In [41]:
name

['Gokul ', 'gobi', 'Akshay', 'Nikhil', 1256, 'H', 'o', 'l', 'l', 'y']

In [42]:
name[2:]

['Akshay', 'Nikhil', 1256, 'H', 'o', 'l', 'l', 'y']

In [50]:
## List methods
name.append("MAkkan")
print(name)

['Gokul ', 'gobi', 'Akshay', 'Nikhil', 1256, 'H', 'o', 'l', 'l', 'y', 'MAkkan', 'MAkkan', 'MAkkan']

In [54]:
name.insert(0,"Pushpan")
print(name)

['Pushpan', 'Pushpan', 'Pushpan', 'Pushpan', 'Gokul ', 'gobi', 'Akshay', 'Nikhil', 1256, 'H', 'o', 'l', 'l', 'y', 'MAkkan', 'MAkkan', 'MAkkan']

Nrested List commprehensation
with conditional list logic

In [61]:
name.pop()
print(name)

['Pushpan', 'Pushpan', 'Pushpan', 'Pushpan', 'Gokul ', 'gobi', 'Akshay', 'Nikhil', 1256, 'H', 'o', 'l']

In [87]:

lst1 = [1,2,3]
lst2=['a','b','c','d']
pair=[[i,j] for i in lst1 for j in lst2]
print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd']]

In [65]:
name.remove("Pushpan")   ## Removes the first single occurance of the item
print(name)

['Gokul ', 'gobi', 'Akshay', 'Nikhil', 1256, 'H', 'o', 'l']

In [71]:
popped_name = name.pop()
print(popped_name)
print(name)

1256
['Gokul ', 'gobi', 'Akshay', 'Nikhil']

In [77]:
index=name.index('Gokul ')
print(index)

0

In [75]:
print(name)

['Gokul ', 'gobi', 'Akshay', 'Nikhil']

In [79]:
name.insert(4,"Blacho")
print(name)

['Gokul ', 'gobi', 'Akshay', 'Nikhil', 'Blacho', 'Blacho']

In [81]:
name.sort()
print(name)

['Akshay', 'Blacho', 'Blacho', 'Gokul ', 'Nikhil', 'gobi']

In [84]:
name.reverse()
print(name)

['gobi', 'Nikhil', 'Gokul ', 'Blacho', 'Blacho', 'Akshay']

In [85]:
## Iterate for a list
for names in name:
    print(names)

gobi
Nikhil
Gokul
Blacho
Blacho
Akshay

In [95]:
## nested list comprehension
##[expresion with iterration]
even=[x for x in range(10)  if x%2==0]
print(even)

[0, 2, 4, 6, 8]

In [94]:
## with conditional logic [ experateion of item if condition]
square = [num**2 for num in range(10)]
for i in range(10):
    if(i%2==0):
        lst.append(i)
print(lst)

[0, 2, 4, 6, 8]

In [96]:
## Nested List coprehension
lst1=[1,2,3]
list2=['a','b','c']
[[i,j]for i in lst1 for j in lst2]

[[1, 'a'],
 [1, 'b'],
 [1, 'c'],
 [1, 'd'],
 [2, 'a'],
 [2, 'b'],
 [2, 'c'],
 [2, 'd'],
 [3, 'a'],
 [3, 'b'],
 [3, 'c'],
 [3, 'd']]

In [97]:
checklen = ["gokul","Hari","Dhanush"]
length = [ len(word) for  word in checklen ]
print(length)

[5, 4, 7]

In [106]:
##  tuples are ordered collection that are immutable 
## creating a tuple
empty_tuple =()
print(type(empty_tuple))
num_tuple = (1,2,3,16,17)

<class 'tuple'>

In [100]:
mixed_tuple = (1,3.6,"Gokul","j")
mixed_tuple

(1, 3.6, 'Gokul', 'j')

In [103]:
mixed_tuple[-1]

'j'

In [108]:
## tuple operation
concat_tuple= num_tuple+ mixed_tuple
print(concat_tuple)

(1, 2, 3, 16, 17, 1, 3.6, 'Gokul', 'j')

In [109]:
concat_tuple*3

(1,
 2,
 3,
 16,
 17,
 1,
 3.6,
 'Gokul',
 'j',
 1,
 2,
 3,
 16,
 17,
 1,
 3.6,
 'Gokul',
 'j',
 1,
 2,
 3,
 16,
 17,
 1,
 3.6,
 'Gokul',
 'j')

In [118]:
## Immutable nature of tuples
## Tuples are immutable  once assigned cannot be changed
lst = [1,2,3,4,5]
tup =(1,2,3,4,5,5,5)
print(lst)
lst[1]="gokul"
lst

[1, 2, 3, 4, 5]

[1, 'gokul', 3, 4, 5]

In [115]:
tup[1]="gokul"
## convert it into list and convert back again if you really want to change

TypeError: 'tuple' object does not support item assignment

In [122]:
print(tup.count(5))
print(tup.index(5))

3
4

In [126]:
## packing and unpacking tuple
packed_tuple =1 ,"Hello",3.14
print(type(packed_tuple))
## unpacking a tuple
a,b,c= packed_tuple
print(b)

<class 'tuple'>
Hello

In [1]:
## Dictonary
## DIctionary are  unordered collection and key , value pairs keys should be unique  and imutable

In [2]:
## creating Dictonary 
empty_dic={}
type(empty_dic)

dict

In [4]:
student ={"name" : "gokul","age":23,"grade":8.55}
print(student)

{'name': 'gokul', 'age': 23, 'grade': 8.55}

In [9]:
##  Accesing Dictonary element
student["name"]
## Accesing using get methods
print(student.get('grade'))
print(student.get("Lastname","Not avalable"))

8.55
Not avalable

In [12]:
del student["age"]
print(student)

{'name': 'gokul'}

In [23]:
##  Dictionary Methods
student ={"name" : "gokul","age":23,"grade":8.55}
keys = student.keys()
print(keys)
values = student.values()
print(values)
items = student.items()
print(items)

dict_keys(['name', 'age', 'grade'])
dict_values(['gokul', 23, 8.55])
dict_items([('name', 'gokul'), ('age', 23), ('grade', 8.55)])

In [24]:
## Shallow copy
student_copy =student


student_copy_actual = student.copy()
student_copy["name"]="hari"
print(student)
print(student_copy)
print(student_copy_actual)

{'name': 'hari', 'age': 23, 'grade': 8.55}
{'name': 'hari', 'age': 23, 'grade': 8.55}
{'name': 'gokul', 'age': 23, 'grade': 8.55}

In [27]:
## Dictonary Comprehensation
square ={ x:x**2 for x in range(5)}
print(square)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [31]:
## conditional
squareset={}
for x in range(10):
    if(x%2==0):
        squaref=x**2
        squareset[x]=squaref

In [32]:
print(squareset)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [ ]:
## function
def function_name(parametes):
    "Function defnition"
    return expression

In [3]:
def checkEven( num):
    """"This function check even or odd"""
    if(num %2 ==0):
        print("The given num is even")
    else:
        print("THe num is odd")

In [4]:
checkEven(62)

The given num is even

In [5]:
### function with multiple parametes
def add(a,b):
    c=a+b
    return c

In [6]:
add(5,23)

28

In [9]:
## Default parameters
def great(name = "guest"):
    print(f"Hello {name}")
great("Gokul")

Hello Gokul

In [10]:
great()

Hello guest

In [11]:
### Variable Length Arguments
### Positional And Keyward Arguments
def print_numbers(*args):
    for num in args:
        print(args)

In [12]:
print_numbers(1,2,6,9,78)

(1, 2, 6, 9, 78)
(1, 2, 6, 9, 78)
(1, 2, 6, 9, 78)
(1, 2, 6, 9, 78)
(1, 2, 6, 9, 78)

In [21]:
##Keywards Arguments
def keywardArduments(**kwargs):
    for key,value in kwargs.items():
        print(f'{key}: {value}')

In [23]:
keywardArduments(name="gokul",interest = {"Gen Ai","India"})

name: gokul
interest: {'Gen Ai', 'India'}

:

In [1]:

print("chekc")

chekc

In [4]:
def convert_temperature(temp,unit):
    if unit == "c" :
        return temp*9/5+32;
    elif unit == "f" :
        return (temp-32)*5/9

In [5]:
convert_temperature(25,"c")

77.0

Password length checker

In [22]:
def password_checker(password):

    if(len(password)<8):
        print("Invalid length")
        return False
    if not any(char.isdigit() for char in password):
        print(char.isdigit() for char in password)
        return False
    if not any(char.islower()  for char in password):
        return False
    if not any(char.isupper for chr in password):
        return False
    return True

In [23]:
password_checker("1236464686868")

False

Example 3 calculate  the cost of items in a Shopping Cart

In [30]:
def calculate_total_cart(cart):
    total_cost=0 
    for item in cart:
        total_cost = total_cost+ item['cost']
    return total_cost
cart = [
    {"name": "Apples", "cost": 3.50},
    {"name": "Bread", "cost": 2.25},
    {"name": "Milk", "cost": 1.75},
    {"name": "Eggs", "cost": 2.00},
    {"name": "Chicken", "cost": 8.99}
]

In [31]:
calculate_total_cart(cart)

18.490000000000002

In [33]:
def fact(n):
    if n==0:
        return 1
    elif n>=0:
        return n* fact(n-1)

In [39]:
fact(5)

120

Read a file and count frequency of each word

In [51]:
def count_word_frequency(file_path):
    word_dict = {}
    with open(file_path,'r') as file:
        for line in file:
            
            single_line = line.split()
            print(single_line)
            for words in single_line:
                    word =  words.lower().strip('.,!?;:"\'')
                    word_dict[word] = word_dict.get(word,0)+1
    return word_dict

In [54]:
print(count_word_frequency("text.txt"))
dic = count_word_frequency("text.txt")

["''''"]
['Gokul', 'Das', 'is', 'here']
["'''Hdook", 'test', 'cvase', 'testcase', 'test', 's']
[]
{'': 1, 'gokul': 1, 'das': 1, 'is': 1, 'here': 1, 'hdook': 1, 'test': 2, 'cvase': 1, 'testcase': 1, 's': 1}
["''''"]
['Gokul', 'Das', 'is', 'here']
["'''Hdook", 'test', 'cvase', 'testcase', 'test', 's']
[]

In [55]:
dic.get("gggg",0)

0

In [5]:
#  lamda function 
## wherever there is a single expression we can  use lamda to make it

In [3]:
add = lambda a,b : a+b
add(56,6)

62

In [4]:
even1 = lambda num : num %2 ==0
even1(55)

False

In [29]:
##map ()
num = [1,2,3,4,5]
numberlist=[]
i=0
def square(num):
    i=0
    for i in range(len(num)-1) :
        numberlist.append(num[i] **2)
        
        
    print(numberlist)  
square(num)

[1, 4, 9, 16]

In [30]:

## mao apllies a same function to a list of items
list(map(lambda x:x**2,num))

[1, 4, 9, 16, 25]

In [37]:
num1 =[1,3,5,56,98]
num2 = [6,5,7]
added= list(map(lambda x,y :x+y,num1,num2 ))

print(added)

[7, 8, 12]

In [39]:
number_strings = ["10", "20", "30", "40", "50"]
conver = list(map(lambda letter :int(letter),number_strings))
print(conver)

[10, 20, 30, 40, 50]

In [46]:
list_of_dicts = [
    {"name": "Alice", "age": 30, "city": "New York"},
    {"name": "Bob", "age": 25, "city": "Los Angeles"},
    {"name": "Charlie", "age": 35, "city": "Chicago"},
    {"name": "Diana", "age": 28, "city": "San Francisco"}
]
def get_name(list_of_dicts):
    return list_of_dicts['name']


name_list = list(map(lambda name :name.get("name"),list_of_dicts))
print(name_list)
print(list(map(get_name,list_of_dicts)))

['Alice', 'Bob', 'Charlie', 'Diana']
['Alice', 'Bob', 'Charlie', 'Diana']

In [2]:
import array
arr = array.array('i',[1,2,5,78])

In [3]:
print(arr)

array('i', [1, 2, 5, 78])

In [11]:
### random
import random
print(random.randint(0,10))

3

In [13]:
## file and directory access
import os
print(os.getcwd())

c:\Users\dgkgo\desktop\generativeai\1-Python Basic

In [15]:
os.mkdir('test_dir')

FileExistsError: [WinError 183] Cannot create a file when that file already exists: 'test_dir'

In [21]:
import shutil
shutil.copyfile('sample.txt','copied.txt')

'copied.txt'

In [36]:
# Creating a dictionary with initial key-value pairs
import json
my_dict = {
    'name': 'Alice',
    'age': 30,
    'city': 'New York'
}
json_str = json.dumps(my_dict)
print(json_str)
type(json_str)

{"name": "Alice", "age": 30, "city": "New York"}

str

In [38]:

# Correct usage with a JSON string
json_str = '{"name": "Alice", "age": 30, "city": "New York"}'
parsed_dict = json.loads(json_str)
type(parsed_dict)

dict

In [43]:
### date time
from datetime import datetime,timedelta
now = datetime.now()
print(now)
yesterday = now - timedelta(days=1)
print(yesterday)

2024-08-06 07:44:38.806088
2024-08-05 07:44:38.806088

In [45]:
import time
print(time.time())
time.sleep(4)
print(time.time())

1722910549.3122585
1722910553.3129547

Reading the file

In [3]:
with open('sample.txt','r') as file:
    content = file.read()
    print(content)

hai hellp leas check
CHeck for something
Read 3 line

In [6]:
with open('sample.txt','r') as filecheck:
    for linr in filecheck:
        print(linr.strip())

hai hellp leas check
CHeck for something
Read 3 line

In [9]:
with open('write.txt','w') as filewrite:
    filewrite.write("heloo wor;d\n")

In [11]:
## write a file without overiding
with open('write.txt','a') as append_file:
    append_file.write("\nApppending")

In [12]:
## binary filesda
data = bytearray([0b10101010, 0b01010101, 0b11110000, 0b00001111])  # Example binary data
with open('binary_file.bin', 'wb') as file:
    file.write(data)

In [18]:
## content from soure and write
with open('sample.txt','r') as file:
    content=file.read()
with open('write.txt','w') as write:
    write.write(content)

In [5]:
try:
    a=9/1
    a=b
except ZeroDivisionError as ex:
    print(ex)
    print("Enter number greater than zero")   
except Exception as ex2:
    print(ex2)
    print("Unexcepted Scnerio PLease Fix")

name 'b' is not defined
Unexcepted Scnerio PLease Fix

In [1]:
##  try except else block
try:
    num = int(input("Enter a num"))
    res= 5/num
except ValueError:
    print("Enter a valid number") 
except ZeroDivisionError as ZD:
    print(ZD) 
except Exception as ex :
    print(ex)
else:
    print(f"The result is {res}")     
finally:
    print(f"Releasing igt from sanction")

The result is 0.2
Releasing igt from sanction

In [18]:
class Car:
    def __init__(self, name,no_of_wheels):
        self.name = name
        self.no_of_wheels = no_of_wheels
    
    def speak(self):
        print("SPeaking")

In [19]:
class Tesla(Car):
    def __init__(self, name, no_of_wheels,driving_mode):
        super().__init__(name, no_of_wheels)
        self.driving_mode = driving_mode
    def mode_of_car(self):
        print(f"Tesla mode of driving: {self.driving_mode}")

In [20]:
tesla = Tesla("Tesla",4,"EV")

In [21]:
tesla.mode_of_car()

Tesla mode of driving: EV

In [22]:
tesla.speak()

SPeaking

Polymorphism it provides a way  to perform a single action in different forms ,Polyymorphism is typically acheived through method overriding and interfaces

In [3]:
class Car:
    def __init__(self, name,no_of_wheels):
        self.name = name
        self.no_of_wheels = no_of_wheels
    
    def speak(self):
        print("SPeaking")
        
class Tesla(Car):
    def __init__(self, name, no_of_wheels,driving_mode):
        super().__init__(name, no_of_wheels)
        self.driving_mode = driving_mode
    def mode_of_car(self):
        print(f"Tesla mode of driving: {self.driving_mode}") 
    def speak(self):
        print("SHOOOOOOOOOO")

In [4]:
tesla = Tesla("Tesla",4,"EV")
tesla.speak()

SHOOOOOOOOOO

In [6]:
## poly morphism with abstract base classes

##common methods for a group of related object

In [1]:
from abc import ABC,abstractmethod

class Vehicle(ABC):
    @abstractmethod
    def engine_start(self):
        pass
class Car(Vehicle):
    def engine_start(self):
        print("Car ENgine started")
class MotorCycle(Vehicle):
    def engine_start(self):
        print("Motor Bike ENgine")      
car = Car()   
motorCycle =MotorCycle()

In [2]:
car.engine_start()
motorCycle.engine_start()

Car ENgine started
Motor Bike ENgine

encapsulation :- wrappinh pd data and methods in a single unit

In [10]:
### Encapsulation wwith private getter settrr
class Car:
    def __init__(self, name,no_of_wheels,company):
        self.__name = name   ## private variable
        self.__no_of_wheels = no_of_wheels
        self.company =company
    
    def speak(self):
        print("SPeaking")
def getname(car):
    print(car.company)        
car_oobj = Car("800",6,"Maruthy")

In [12]:
getname(car_oobj)

Maruthy

In [15]:
## encapusalation with getter and setter 
class Person:
    def __init__(self,name,age):
        self.__name =name
        self.__age=age
    def  get_name(self):
        return self.__name 
    def set_name(self,name):

        self__name=name
        return "SuCCESS"

In [16]:
person =Person("gokul",23)
person.get_name()

'gokul'

In [18]:
person.set_name("Nikhil Harikumar")

'SuCCESS'